<div class="item item-purple col-md-4 col-sm-6 col-xs-6">
    <div class="item-inner">
        <div class="icon-holder">
            <span aria-hidden="true" class="icon icon_lifesaver"></span>
        </div><!--//icon-holder-->
        <h3 class="title">FAQs</h3>
        <p class="intro">Layout for FAQ page. Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        <a class="link" href="{{ "/faqs" | prepend: site.baseurl }}"><span></span></a>
    </div><!--//item-inner-->
</div><!--//item-->