<section class="cards-section text-center">
    <div class="container">
        <h2 class="title">Getting started is easy!</h2>
        <div class="intro">
            <p>Welcome to prettyDocs. This landing page is an example of how you can use a card view to present segments of your documentation. You can customise the icon fonts based on your needs.</p>
            <div class="cta-container">
                <a class="btn btn-primary btn-cta" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-cloud-download"></i> Download Now</a>
            </div><!--//cta-container-->
        </div><!--//intro-->
        <div id="cards-wrapper" class="cards-wrapper row">
            
            {% include card-quick.html %}
            
            {% include card-components.html %}

            {% include card-charts.html %}

            {% include card-faqs.html %}
            
            {% include card-showcase.html %}
            
            {% include card-license.html %}
        </div><!--//cards-->
        
    </div><!--//container-->
</section><!--//cards-section-->