<div class="item item-pink item-2 col-md-4 col-sm-6 col-xs-6">
    <div class="item-inner">
        <div class="icon-holder">
            <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
        </div><!--//icon-holder-->
        <h3 class="title">Components</h3>
        <p class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        <a class="link" href="{{ "/components" | prepend: site.baseurl }}"><span></span></a>
    </div><!--//item-inner-->
</div><!--//item-->