<div class="item item-primary col-md-4 col-sm-6 col-xs-6">
    <div class="item-inner">
        <div class="icon-holder">
            <span aria-hidden="true" class="icon icon_genius"></span>
        </div><!--//icon-holder-->
        <h3 class="title">Showcase</h3>
        <p class="intro">Layout for showcase page. Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
        <a class="link" href="{{ "/showcase" | prepend: site.baseurl }}"><span></span></a>
    </div><!--//item-inner-->
</div><!--//item-->