<div class="item item-orange col-md-4 col-sm-6 col-xs-6">
    <div class="item-inner">
        <div class="icon-holder">
            <span aria-hidden="true" class="icon icon_gift"></span>
        </div><!--//icon-holder-->
        <h3 class="title">License &amp; Credits</h3>
        <p class="intro">Layout for license &amp; credits page. Consectetuer adipiscing elit.</p>
        <a class="link" href="{{ "license" | prepend: site.baseurl }}"><span></span></a>
    </div><!--//item-inner-->
</div><!--//item-->