<div class="doc-wrapper">
    <div class="container">
        <div id="doc-header" class="doc-header text-center">
            <h1 class="doc-title"><span aria-hidden="true" class="icon icon_gift"></span> License &amp; Credits</h1>
            <div class="meta"><i class="fa fa-clock-o"></i> Last updated: Jan 25th, 2016</div>
        </div><!--//doc-header-->
        <div class="doc-body">
            <div class="doc-content">
                <div class="content-inner">
                    <section id="license" class="doc-section">
                        <h2 class="section-title">PrettyDocs License</h2>
                        <div class="section-block">
                            <div class="jumbotron text-center">
                                <h1>CC BY 3.0</h1>
                                <p>PrettyDocs is made by UX designer <a href="https://twitter.com/3rdwave_themes" target="_blank">Xiaoying Riley</a> for developers and is 100% <strong>FREE</strong> under the <a class="dotted-line" href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License (CC BY 3.0)</a></p>
                                <div class="author-profile text-center">
                                    <a class="center-block" href="https://twitter.com/3rdwave_themes" target="_blank"><img src="assets/images/demo/author-profile.png" alt=""></a>
                                </div><!--//author-profile-->
                                <div class="speech-bubble">                    
                                    <h3 class="speech-title">Want to get more freebies in the future?</h3>

                                    <p>I tweet and share <strong>#UX</strong> and <strong>#webdev</strong> related resources/content at <a href="https://twitter.com/3rdwave_themes" target="_blank">@3rdwave_themes</a> <br> Follow me on twitter and I will keep you informed about my next free template there. :)</p>
                                </div>
                                
                                <div class="list list-inline center-block">
                                    <a class="btn btn-cta btn-orange" href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i> Follow Xiaoying on Twitter</a>
                                </div>
                            </div><!--//jumbotron-->
                        </div><!--//section-block-->
                        
                    </section><!--//doc-section-->
                    <section id="credits" class="doc-section">
                        <h2 class="section-title">PrettyDocs Credits</h2>
                        <div class="section-block">
                            <ul class="list list-unstyled">
                                
                                <li><a href="http://getbootstrap.com/" target="_blank"><i class="fa fa-external-link-square"></i> Bootstrap</a></li>
                                <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank"><i class="fa fa-external-link-square"></i> FontAwesome</a></li>
                                <li><a href="http://www.elegantthemes.com/blog/resources/elegant-icon-font" target="_blank"><i class="fa fa-external-link-square"></i> Elegant icon font</a></li>
                                <li><a href="http://www.google.com/webfonts" target="_blank"><i class="fa fa-external-link-square"></i> Google Fonts</a></li>
                                <li><a href="http://jquery.com/" target="_blank"><i class="fa fa-external-link-square"></i> jQuery</a></li>
                                <li><a href="http://prismjs.com/index.html" target="_blank"><i class="fa fa-external-link-square"></i> Prism</a></li>
                                <li><a href="http://ashleydw.github.io/lightbox/" target="_blank"><i class="fa fa-external-link-square"></i> Bootstrap Lightbox</a></li>
                                <li><a href="http://flesler.blogspot.co.uk/2007/10/jqueryscrollto.html" target="_blank"><i class="fa fa-external-link-square"></i> jQuery ScrollTo</a></li>
                                <li><a href="http://brm.io/jquery-match-height/" target="_blank"><i class="fa fa-external-link-square"></i> jQuery Match Height</a></li>
                                
                            </ul>
                        </div><!--//section-block-->
                        
                    </section><!--//doc-section-->

                    
                </div><!--//content-inner-->
            </div><!--//doc-content-->
            <div class="doc-sidebar">
                <nav id="doc-nav">
                    <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                        <li><a class="scrollto" href="#license">License</a></li>
                        <li><a class="scrollto" href="#credits">Credits</a></li>
                    </ul><!--//doc-menu-->
                </nav>
            </div><!--//doc-sidebar-->
        </div><!--//doc-body-->              
    </div><!--//container-->
</div><!--//doc-wrapper-->