<!-- ******Header****** -->
<header id="header" class="header">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <a href="index.html">
                    <span aria-hidden="true" class="icon_documents_alt icon"></span>
                    <span class="text-highlight">Pretty</span><span class="text-bold">Docs</span>
                </a>
            </h1>
        </div><!--//branding-->
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">License &amp; Credits</li>
        </ol>
    </div><!--//container-->
</header><!--//header-->